<h1 class="text-center m-5">Index Of ColorPiquer</h1>
<div class="container">
  <h2 class="text.center">Red</h2>
  <div class="contenedor">
    <input id="c1" type="text" value="0" class="dial" data-max="255" data-width="180" data-fgColor="red">
  </div>
  <h2 class="text.center">Green</h2>
  <div class="contenedor">
    <input id="c2" type="text" value="0" class="dial" data-max="255" data-width="180" data-fgColor="green">
  </div>
  <h2 class="text.center">Blue</h2>
  <div class="contenedor">
    <input id="c3" type="text" value="0" class="dial" data-max="255" data-width="180" data-fgColor="blue">
  </div>

  <div class="contenedor" id="color">#C8C8C8</div>
</div>
